$font:16px;
$marg:2px;

@font-face {
  font-family: "HelveticaNeue";
  src: url(../font/HelveticaNeue.ttc);
  font-style: normal;
}
@font-face {
  font-family: "HeveticaNeueLTPro";
  src: url(../font/HelveticaNeueLTProBd.otf);
}
@font-face {
  font-family: "NotoSerifKR";
  src: url(../font/NotoSerifKR-SemiBold.otf);
}

:root {
  --background:#ffffff;
  --color:#000000;
  --std: 16px;
}

* {
  list-style: none;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  position: relative;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  word-break: keep-all;
  font-size: inherit;
  font-weight: 400;
  line-height: inherit;
  // margin: $marg;
}

html {
  font-size: 16px;
  font-family: "HelveticaNeue", "agchoijeongho-screen";
  font-style: normal;
  font-weight: 400;
  height: 100%;
  background: var(--background);
  color: var(--color);
}