$logo_height: 1rem;
$background:rgb(255, 255, 255);
$color:rgb(0, 0,0);
:root {
    --background:rgb(255, 255, 255);
    --color:rgb(0, 0, 0);
    font-size: 16px
}
::selection{
    background: silver;
    color: rgb(0, 0, 0);
}
@font-face {
    font-family: "agchoijeongho-screen", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-display: block;
    src: url(https://fonts.adobe.com/search?query=%EC%B5%9C%EC%A0%95%ED%98%B8);
}
@font-face {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    src: local("Helvetica Neue"), local(Helvetica);
}
html:lang(ko) {font-family: "agchoijeongho-screen", sans-serif;}
html:lang(en) {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}
* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    position: relative;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    line-height: inherit;
    font-size: 16px;
    font-weight: 400;
    font-family: "Helvetica Neue", "Helvetica", "agchoijeongho-screen";
}
body{
    margin: 0;
    height: 100%;
    background-color:$background;}
hr{
    padding: 0;
    margin: 0;
}    
.container{
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(50,2fr);
    column-gap: 0.5rem;
    a:link{color: $color;}
    a:visited {color : $color;}
    height: 100vh;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    
    .global-header{
        display: grid;
        grid-template-columns: repeat(24, 1fr);
        // grid-template-rows: repeat(8,1fr);
        column-gap: 0.5rem;
        grid-column-start: 1;
        grid-column-end: 25;
        grid-row-start: 1;
        font-weight: 400;
        
        .header-hyeok{
            ul{
                padding: 0;
                margin: 0;}
                grid-column-start: 1;
                grid-column-end: 3;
            }
        .header-works{
            ul{
                padding: 0;
                margin: 0;}
                grid-column-start: 3;
                grid-column-end: 5;
        }
        .header-about{
            ul{
                padding: 0;
                margin: 0;}
                grid-column-start: 13;
                grid-column-end: 15;
        }
        .header-cv{
            ul{
                padding: 0;
                margin: 0;}
                grid-column-start: 23;
                grid-column-end: 25;
                text-align: right;
        }
    }
    .global-info{
        display: grid;
        grid-row: 3 / 50;
        grid-column: 13 / 22;
        align-self: flex-start;
        .about{
            display: grid;
            padding-bottom: 1rem;
            word-break: keep-all;
            color: $color;
            font-size: 0.8rem;
            line-height: 1.2rem;
            align-self: end;
            .name{
                font-family:"agchoijeongho-screen"!important;
                font-size: 0.8rem;
                line-height: 1.2rem;
            }
        }
        .collab{
            display: grid;
            word-break: keep-all;
            color: $color;
            align-self: auto;
            font-size: 0.8rem;
            line-height: 1.2rem;
            margin: 0;
            padding: 0;
        }
        
    }
    
    footer{
        display: flex;
        align-self: end;
        flex-direction: row-reverse;
        justify-content: space-between;
        grid-column-start: 1;
        grid-column-end: 25;
        position: relative;
        grid-row: 50 / 51;
        
            .footer-left{
                align-self: end;
                grid-column: 1 / 15;
                
                ul{
                    font-size: 0.75rem;
                    padding: 0;
                    margin: 0;
                    text-align: left;}
                li{
                    font-size: 0.75rem;
                }

                a{
                    font-size: 0.75rem;
                }
            }
            .footer-right{
                color: rgb(0, 0, 0);
                padding-bottom: 0;
                margin-bottom: 0;
                align-self: end;
                text-align: right;
                grid-column: 15 / 25;
                z-index: 101;
                font-size: 0.75rem;
            }
    }
}

@media screen and (min-width: 1px) and (max-width: 319px){
    .container{display: none;}
    .minWidth320{display: none;}
    .minWidth768{display: none;}
}

@media screen and (min-width: 320px) and (max-width: 767px){
    .container{
        height: 100vh;
        display: none;}
    .minWidth768{
        height: 100vh;
        display: none;}
                
    .minWidth320{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(40,2fr);
        column-gap: 0.25rem;
        a:link{color: $color;}
        a:visited {color : $color;}
        height: 100vh;
        padding: 1rem;
        align-items: center;
        justify-content: center;

        .global-header{
            a{font-size: 0.625rem;}

            display: grid;
            grid-template-columns: repeat(12, 1fr);
            column-gap: 0.25rem;
            grid-column-start: 1;
            grid-column-end: 13;
            grid-row: 1;
            z-index: 102;

            .header-hyeok{
                ul{
                    padding: 0;
                    margin: 0;}
                    grid-column-start: 1;
                    grid-column-end: 2;
                }
    
            .header-works{
                ul{
                    padding: 0;
                    margin: 0;}
                    grid-column-start: 3;
                    grid-column-end: 4;
            }
    
            .header-about{
                ul{
                    padding: 0;
                    margin: 0;}
                    grid-column-start: 10;
                    grid-column-end: 11;
            }
    
            .header-cv{
                ul{
                    padding: 0;
                    margin: 0;}
                    grid-column-start: 12;
                    grid-column-end: 13;
                    text-align: right;
            }
        }

        .global-info320{
            grid-column-start: 1;
            grid-column-end: 13;
            grid-row: 3 / 40;
            column-gap: 0.25rem;
            align-self: flex-start;

            .about{
                padding-bottom: 1rem;
                word-break: keep-all;
                color: $color;
                font-size: 0.625rem;
                line-height: 1rem;
                align-self: end;
                .name{
                    font-family:"agchoijeongho-screen"!important;
                    font-size: 0.625rem;
                    line-height: 1rem;}
            }
            .collab{
                display: grid;
                word-break: keep-all;
                color: $color;
                align-self: auto;
                font-size: 0.625rem;
                line-height: 1rem;
                margin: 0;
                padding: 0;
            }
            
        }
        
        footer{
                display: flex;
                align-self: end;
                justify-content: center;
                text-align: center;
                grid-column-start: 1;
                grid-column-end: 13;
                position: relative;
                grid-row: 40 / 41;
                
                    .footer-all{
                        color: rgb(0, 0, 0);
                        padding-bottom: 0;
                        margin-bottom: 0;
                        align-self: end;
                        text-align: right;
                        grid-row: 1;
                        z-index: 101;
                        font-size: 0.625rem;
                        align-self: end;
                        grid-row: 1;
                        
                        ul{
                            font-size: 0.625rem;
                            padding: 0;
                            margin: 0;
                            text-align: center;}
                        li{
                            font-size: 0.625rem;}
        
                        a{
                            font-size: 0.625rem;}
                        h1{
                            font-size: 0.625rem;}
                    }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1399px){
    .container{
        height: 100vh;
        display: none;}
    .minWidth320{
        height: 100vh;
        display: none;
    }
}

@media screen and (min-width: 1440px) {
    .minWidth320{display: none;}
    .minWidth768{display: none;}
}