$logo_height: 1rem;
$background:rgb(255, 255, 255);
$color:rgb(0, 0,0);

:root {
    --background:rgb(255, 255, 255);
    --color:rgb(0, 0, 0);
    font-size: 16px;
}

::selection{
    background: silver;
    color: rgb(0, 0, 0);
}

@font-face {
    font-family: "agchoijeongho-screen", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-display: block;
    src: url(https://fonts.adobe.com/search?query=%EC%B5%9C%EC%A0%95%ED%98%B8);
}


@font-face {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    src: local("Helvetica Neue"), local(Helvetica);
}

html:lang(ko) {font-family: "agchoijeongho-screen", sans-serif;}
html:lang(en) {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    position: relative;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    line-height: inherit;
    font-size: 16px;
    font-weight: 400;
    font-family: "Helvetica Neue", "Helvetica", "agchoijeongho-screen";
}

hr{
    padding: 0;
    margin: 0;
}

@media screen and (min-width: 1400px){
    .container{
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(50,2fr);
    column-gap: 0.5rem;
    a:link{color: $color;}
    a:visited {color : $color;}
    height: 100vh;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 0.5rem;

    .global-header{
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    // grid-template-rows: repeat(8,1fr);
    column-gap: 0.5rem;
    grid-column-start: 1;
    grid-column-end: 25;
    grid-row-start: 1;
    z-index: 102;
    // font-weight: 200;

    .header-hyeok{
        ul{
            padding: 0;
            margin: 0;}
            grid-column-start: 1;
            grid-column-end: 3;
        }

    .header-works{
        ul{
            padding: 0;
            margin: 0;}
            grid-column-start: 3;
            grid-column-end: 5;
    }

    .header-about{
        ul{
            padding: 0;
            margin: 0;}
            grid-column-start: 13;
            grid-column-end: 15;
    }

    .header-cv{
        ul{
            padding: 0;
            margin: 0;}
            grid-column-start: 23;
            grid-column-end: 25;
            text-align: right;
    }
    }
    //각 header마다 남는 여백이 다름.
    .work-2024{
    tr{border-bottom: 1px solid rgb(0, 0, 0);}
    display: grid;
    grid-column-start: 3;
    grid-column-end: 12;
    grid-row: 3 / 51;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    word-break: keep-all;

    .one{
        text-align: left;
        width: 10%;}
    .two {
        text-align: left;
        width: 70%;
        transition: color 0.3s ease;
        :hover{color: silver !important;}
    }
    .three{
        text-align: right;
        width: 20%;}
    }

    .thumbnail-blank{
    grid-column: 13 / 23;
    grid-row: 2 / 35;
    width: 100%;
    }

    footer{
    display: flex;
    align-self: end;
    flex-direction: row-reverse;
    justify-content: space-between;
    grid-column-start: 1;
    grid-column-end: 25;
    position: relative;
    grid-row-end: 50 / 51;

        .footer-left{
            align-self: end;
            grid-column: 1 / 15;
            grid-row: 1;
            
            ul{
                font-size: 0.75rem;
                // padding: 0;
                // margin: 0;
                text-align: left;}
            li{
                font-size: 0.75rem;}

            a{
                font-size: 0.75rem;}
        }

        .footer-right{
            color: rgb(0, 0, 0);
            padding-bottom: 0;
            margin-bottom: 0;
            align-self: end;
            text-align: right;
            grid-column: 15 / 25;
            grid-row: 1;
            z-index: 101;
            font-size: 0.75rem;
        }
    }
    .minWidth320{
        display: none;
    }
    }
}

@media screen and (min-width: 768px) and (max-width: 1399px){
    .container{
        height: 100vh;
        display: none;}
}

@media screen and (min-width: 320px) and (max-width: 767px){
    .container{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(40,2fr);
        column-gap: 0.25rem;
        a:link{color: $color;}
        a:visited {color : $color;}
        height: 100vh;
        padding: 1rem;
        align-items: baseline;
        justify-content: center;

        .global-header{
            a{font-size: 0.625rem;}
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            column-gap: 0.25rem;
            grid-column-start: 1;
            grid-column-end: 13;
            grid-row: 1;
            z-index: 102;

            .header-hyeok{
                ul{
                    padding: 0;
                    margin: 0;}
                    grid-column-start: 1;
                    grid-column-end: 2;
                }
    
            .header-works{
                ul{
                    padding: 0;
                    margin: 0;}
                    grid-column-start: 3;
                    grid-column-end: 4;
            }
    
            .header-about{
                ul{
                    padding: 0;
                    margin: 0;}
                    grid-column-start: 10;
                    grid-column-end: 11;
            }
    
            .header-cv{
                ul{
                    padding: 0;
                    margin: 0;}
                    grid-column-start: 12;
                    grid-column-end: 13;
                    text-align: right;
            }
        }

        .work-2024{
            a{font-size: 0.625rem;}
            tr{border-bottom: 1px solid rgb(0, 0, 0);}
            grid-column-start: 1;
            grid-column-end: 13;
            grid-row-start: 3;
            grid-row-end: 39;
            column-gap: 0.25rem;
            table-layout: fixed;
            border-collapse: collapse;
            word-break: keep-all;
    
            .one{
                text-align: left;
                font-size: 0.625rem;
                width: 10%;
                vertical-align: middle;
            }
            .two {
                text-align: left;
                width: 70%;
                vertical-align: middle;
                vertical-align: middle;
            }
            .three{
                text-align: right;
                font-size: 0.625rem;
                width: 20%;
                vertical-align: middle;
            }
        }
        
        .thumbnail-blank{
            display: none;
        }
        
            footer{
                .footer-left{display: none;}
                .footer-right{display: none;}
            }
            .minWidth320{
                display: grid;
                grid-column-start: 1;
                grid-column-end: 13;
                grid-row-start: 40;
                grid-row-end: 41;
                text-align: center;
                li{font-size: 0.625rem !important}
                a{font-size: 0.625rem !important;}
                h1{font-size: 0.625rem !important;}
                
            }
    }
}

@media screen and (min-width: 1px) and (max-width: 319px){
    .container{display: none;}
}
