$logo_height: 1rem;
$background:rgb(255, 255, 255);
$color:rgb(0, 0,0);

:root {
    --background:rgb(255, 255, 255);
    --color:rgb(0, 0, 0);
    font-size: 16px
}

::selection{
    background: silver;
    color: rgb(0, 0, 0);
}

@font-face {
    font-family: "agchoijeongho-screen", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-display: block;
    src: url(https://fonts.adobe.com/search?query=%EC%B5%9C%EC%A0%95%ED%98%B8);
}


@font-face {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    src: local("Helvetica Neue"), local(Helvetica);
}

html:lang(ko) {font-family: "agchoijeongho-screen", sans-serif;}
html:lang(en) {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}

* {
    list-style: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    position: relative;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    line-height: inherit;
    font-size: inherit;
    font-size: 16px;
    font-family: "Helvetica Neue", "Helvetica", "agchoijeongho-screen";
}

.sup{
    vertical-align: super;
    font-family: "agchoijeongho-screen";
    font-size: 0.125rem;
}

body{
    margin: 0;
    height: 100%;
    background-color:$background;}
    
hr{
    padding: 0;
    margin: 0;
}

@media screen and (min-width: 1400px){
    .minWidth320-container{display: none;}
    .container{
        display: grid;
        grid-template-columns: repeat(24,1fr);
        grid-template-rows: repeat(50,2fr);
        column-gap: 0.5rem;
        a:link{color: $color;}
        a:visited {color : $color;}
        height: 100vh;
        padding-top: 1rem;
        padding-right: 1rem;
        padding-left: 1rem;
        padding-bottom: 0.5rem;
        word-break: keep-all;

        .global-header{
            display: grid;
            grid-template-columns: repeat(24, 1fr);
            // grid-template-rows: repeat(8,1fr);
            column-gap: 0.5rem;
            grid-column-start: 1;
            grid-column-end: 25;
            grid-row-start: 1;
            font-weight: 400;
            
            .header-hyeok{
                ul{
                    padding: 0;
                    margin: 0;}
                    grid-column-start: 1;
                    grid-column-end: 3;
                }

            .header-works{
                ul{
                    padding: 0;
                    margin: 0;}
                    grid-column-start: 3;
                    grid-column-end: 5;
            }

            .header-about{
                ul{
                    padding: 0;
                    margin: 0;}
                    grid-column-start: 13;
                    grid-column-end: 15;
            }

            .header-cv{
                ul{
                    padding: 0;
                    margin: 0;}
                    grid-column-start: 23;
                    grid-column-end: 25;
                    text-align: right;
            }
        }

        .left-info{
            display: grid;
            grid-row: 3 / 8;
            grid-column: 3 / 12;
            color: $color;
            align-self: start;
            
            .name{
                padding-bottom: 0.5rem;
                font-size: 0.8rem;
                line-height: 1rem;
            }
            .study{
                padding-bottom: 0.5rem;
                font-size: 0.8rem;
                line-height: 1rem;
            }
            .work{
                font-size: 0.8rem;
                line-height: 1rem;
            }
        }

        .right-info{
            display: grid;
            grid-row: 3 / 8;
            grid-column: 13 / 23;
            color: $color;
            align-self: start;

            .exhibition{
                font-size: 0.8rem;
                line-height: 1rem;
                padding-bottom: 0.5rem;
            }

            .career{
                font-size: 0.8rem;
                line-height: 1rem;
                padding-bottom: 0.5rem;
            }
            .awards{
                font-size: 0.8rem;
                line-height: 1rem;
                padding-bottom: 0.5rem;
            }
            .license{
                font-size: 0.8rem;
                line-height: 1rem;
                padding-bottom: 0.5rem;  
            }
            .tools{
                font-size: 0.8rem;
                line-height: 1rem;
                padding-bottom: 0.5rem;  
            }
            .client{
                font-size: 0.8rem;
                line-height: 1rem;
                padding-bottom: 0.5rem;
            }
            .contact{
                font-size: 0.8rem;
                line-height: 1rem;
                padding-bottom: 0.5rem;
            }
        }
        
        footer{
            display: flex;
            align-self: end;
            flex-direction: row-reverse;
            justify-content: space-between;
            grid-column-start: 1;
            grid-column-end: 25;
            position: relative;
            grid-row: 50 / 51;
            
                .footer-left{
                    align-self: end;
                    grid-column: 1 / 15;
                    grid-row: 1;
                    
                    ul{
                        font-size: 0.75rem;
                        padding: 0;
                        margin: 0;
                        text-align: left;}
                    li{
                        font-size: 0.75rem;}

                    a{
                        font-size: 0.75rem;}
                }

                .footer-right{
                    color: rgb(0, 0, 0);
                    padding-bottom: 0;
                    margin-bottom: 0;
                    align-self: end;
                    text-align: right;
                    grid-column: 15 / 25;
                    grid-row: 1;
                    z-index: 101;
                    font-size: 0.75rem;
                }
        }
        .footer-all{display: none;}
    }
}

@media screen and (min-width: 768px) and (max-width: 1399px){
    .container{
        height: 100vh;
        display: none;
    }
    
    .minWidth320-container{
        display: grid;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px){
    .container{display: none;}
    .minWidth320-container{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(40,2fr);
        column-gap: 0.25rem;
        a:link{color: $color;}
        a:visited {color : $color;}
        height: 100%;
        padding: 1rem;
        align-items: center;
        justify-content: center;
        hr{color: rgb(0, 0, 0);}

        .global-header{
            a{font-size: 0.625rem;}
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            column-gap: 0.25rem;
            grid-column-start: 1;
            grid-column-end: 13;
            grid-row: 1;
            z-index: 102;

            .header-hyeok{
                ul{
                    padding: 0;
                    margin: 0;}
                    grid-column-start: 1;
                    grid-column-end: 2;
                }
    
            .header-works{
                ul{
                    padding: 0;
                    margin: 0;}
                    grid-column-start: 3;
                    grid-column-end: 4;
            }
    
            .header-about{
                ul{
                    padding: 0;
                    margin: 0;}
                    grid-column-start: 10;
                    grid-column-end: 11;
            }
    
            .header-cv{
                ul{
                    padding: 0;
                    margin: 0;}
                    grid-column-start: 12;
                    grid-column-end: 13;
                    text-align: right;
            }
        }

        .minWidth320-info{
            grid-column-start: 1;
            grid-column-end: 13;
            grid-row: 3/39;

                .name{
                    padding-bottom: 0.375rem;
                    word-break: keep-all;
                    color: $color;
                    font-size: 0.625rem;
                }
                .study{
                    padding-bottom: 0.375rem;
                    word-break: keep-all;
                    color: $color;
                    align-self: auto;
                    font-size: 0.625rem;
                }
                .work{
                    padding-bottom: 0.375rem;
                    word-break: keep-all;
                    color: $color;
                    align-self: auto;
                    font-size: 0.625rem;
                }
                .exhibition{
                    padding-bottom: 0.375rem;
                    word-break: keep-all;
                    color: $color;
                    align-self: auto;
                    font-size: 0.625rem;
                }
                .career{
                    padding-bottom: 0.375rem;
                    word-break: keep-all;
                    color: $color;
                    align-self: auto;
                    font-size: 0.625rem;
                }
                .awards{
                    padding-bottom: 0.375rem;
                    word-break: keep-all;
                    color: $color;
                    align-self: auto;
                    font-size: 0.625rem;
                }
                .license{
                    padding-bottom: 0.375rem;
                    word-break: keep-all;
                    color: $color;
                    align-self: auto;
                    font-size: 0.625rem;
                }
                .tools{
                    padding-bottom: 0.375rem;
                    word-break: keep-all;
                    color: $color;
                    align-self: auto;
                    font-size: 0.625rem;
                }
                .client{
                    padding-bottom: 0.375rem;
                    word-break: keep-all;
                    color: $color;
                    align-self: auto;
                    font-size: 0.625rem;
                }
                .contact{
                    padding-bottom: 0.375rem;
                    word-break: keep-all;
                    color: $color;
                    align-self: auto;
                    font-size: 0.625rem !important;
                }
            }
        
        .footer-all{
            display: grid;
            grid-column-start: 1;
            grid-column-end: 13;
            grid-row : 40 / 41;
            text-align: center;
            ul{
                margin: 0;
                padding: 0;}
            li{font-size: 0.625rem !important;}
            a{font-size: 0.625rem !important;}
            h1{
                margin: 0;
                font-size: 0.625rem !important;
                font-weight: 400;
            }
        }
    }
}

@media screen and (min-width: 1px) and (max-width: 319px){
    .container{display: none;}
    .minWidth320-container{display: none;}
}